<div class="container">
  <div class="row">
    <div class="center-block">
      <div class="overview">
        <div class="title">
          <h1>Welcome Board Matching</h1>
        </div>
        <div class="description">
          <h2>ウェルカムボードを依頼しよう</h2>
        </div>
      </div>

      <div class="btn-field">
        <div class="registration btn-lg btn-group">
          <%= button_to top_page_index_path, class: 'square_btn' do %>
            <%= fa_icon "chevron-right" %> 新規登録(無料) <%= fa_icon "chevron-left" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
