<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <!-- Twitter -->
    <a class="tw-ic" href="http://twitter.com/share?url=https://&text=ウェルカムボードを依頼しよう&hashtags=welcomeboardmatching,ウェルカムボードマッチング" target="_blank">
      <i class="fa fa-twitter-square fa-lg fa-2x fa-fw"></i>
    </a>< ついーとしてピヨ
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">
    <i class="fa fa-copyright"></i>2018 Copyright:<a href="https://twitter.com/mayoxtuna">@mayoxtuna</a> all rights reserved.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
