<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <!-- Facebook -->
    <a class="fb-ic">
      <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Twitter -->
    <a class="tw-ic">
      <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!-- Google +-->
    <a class="gplus-ic">
      <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Linkedin -->
    <a class="li-ic">
      <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Instagram-->
    <a class="ins-ic">
      <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <!--Pinterest-->
    <a class="pin-ic">
      <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
    </a>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2018 Copyright:
    <a href="https://twitter.com/mayoxtuna">@mayoxtuna</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
